<footer class="bg-dark text-light mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>NestJS CMS</h5>
                <p>A modern content management system built with NestJS</p>
            </div>
            <div class="col-md-6 text-end">
                <p>&copy; {{currentYear}} NestJS CMS. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
