<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Create New Post</h1>

            {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}

            <form action="/posts" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required value="{{post.title}}">
                </div>

                <div class="mb-3">
                    <label for="editorText" class="form-label">Content</label>
                    <textarea id="editorText" name="content" >Hello, World!</textarea>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                        <option value="draft" {{#if (eq post.status "draft" )}}selected{{/if}}>Draft</option>
                        <option value="published" {{#if (eq post.status "published" )}}selected{{/if}}>Published
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Create Post</button>
                <a href="/posts" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

